body
{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*border: 3px solid green;*/
	background: black;
  	color: white;
}

p
{
	
	text-align: left;
	
}

img {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}